services:
  apriltag_detection:
    container_name: ros2_apriltag_detection
    image: fbe-dockerreg.rwu.de/prj-iki-ros2/perception/apriltag:humble
    build:
      context: ..
      dockerfile: docker/Dockerfile